Chameleon==2.0-rc11
CherryPy==3.2.0
Mako==0.4.1
MarkupSafe==0.12
Paste==1.7.5.1
PasteDeploy==1.5.0
PasteScript==1.7.3
PyRSS2Gen==1.0.0
Pygments==1.4
SQLAlchemy==0.7.1
Tempita==0.5.1
Twisted==8.2.0
WebError==0.10.3
WebOb==1.0.7
altgraph==0.6.8.dev
bdist-mpkg==0.4.3.dev
bonjour-py==0.3
macholib==1.2.1.dev
modulegraph==0.7.2.dev
numpy==1.2.1
ordereddict==1.1
psycopg2==2.4.2
py2app==0.4.2
pyOpenSSL==0.7
pyobjc-core==2.2b3
pyobjc-framework-AddressBook==2.2b3
pyobjc-framework-AppleScriptKit==2.2b3
pyobjc-framework-Automator==2.2b3
pyobjc-framework-CFNetwork==2.2b3
pyobjc-framework-CalendarStore==2.2b3
pyobjc-framework-Cocoa==2.2b3
pyobjc-framework-Collaboration==2.2b3
pyobjc-framework-CoreData==2.2b3
pyobjc-framework-CoreText==2.2b3
pyobjc-framework-DictionaryServices==2.2b3
pyobjc-framework-ExceptionHandling==2.2b3
pyobjc-framework-FSEvents==2.2b3
pyobjc-framework-InputMethodKit==2.2b3
pyobjc-framework-InstallerPlugins==2.2b3
pyobjc-framework-InstantMessage==2.2b3
pyobjc-framework-InterfaceBuilderKit==2.2b3
pyobjc-framework-LatentSemanticMapping==2.2b3
pyobjc-framework-LaunchServices==2.2b3
pyobjc-framework-Message==2.2b3
pyobjc-framework-PreferencePanes==2.2b3
pyobjc-framework-PubSub==2.2b3
pyobjc-framework-QTKit==2.2b3
pyobjc-framework-Quartz==2.2b3
pyobjc-framework-ScreenSaver==2.2b3
pyobjc-framework-ScriptingBridge==2.2b3
pyobjc-framework-SearchKit==2.2b3
pyobjc-framework-SyncServices==2.2b3
pyobjc-framework-SystemConfiguration==2.2b3
pyobjc-framework-WebKit==2.2b3
pyobjc-framework-XgridFoundation==2.2b3
pyramid==1.0
python-dateutil==1.2
repoze.lru==0.3
repoze.tm2==1.0b1
transaction==1.1.1
translationstring==0.3
unittest2==0.5.1
vboxapi==1.0
venusian==0.9
virtualenv==1.6.1
virtualenvwrapper==2.7.1
wsgiref==0.1.2
wxPython==2.8.8.1
wxPython-common==2.8.8.1
wxaddons==2.8.8.1
xattr==0.5
zope.component==3.10.0
zope.configuration==3.7.4
zope.deprecation==3.4.1
zope.event==3.5.0-1
zope.i18nmessageid==3.5.3
zope.interface==3.5.1
zope.schema==3.8.0
zope.sqlalchemy==0.6.1
